body {
background-color: #e0e0e0;
 
}
.content-img{
  width: 100%;
  height: auto;
}
header{ 
  height: 90vh;
  background: url(https://external.fcdg2-1.fna.fbcdn.net/safe_image.php?d=AQCWsDpeijTppaND&w=952&h=952&url=https%3A%2F%2Fscontent.cdninstagram.com%2Fv%2Ft51.29350-15%2F105971107_617122998910252_510916624666397717_n.jpg%3F_nc_cat%3D111%26_nc_sid%3D8ae9d6%26_nc_oc%3DAQnbMirVZafJuIv69lgCJGdfg3CSueaDgLMnazrmBbvm9DvdIvDtkprfXJ1YGYhuelc%26_nc_ht%3Dscontent.cdninstagram.com%26oh%3D5311d8f4d79da5eb68822972b0eac735%26oe%3D5F24E65E&cfs=1&_nc_hash=AQDKzOTljN9o6V8w);
background-size: cover;
}

h1 {
  color: 	#253037;
  padding: 10px;
  border: 0.15em solid white;
  border-radius: 10px;
  background-color: rgba(255,255,255,.1);
}

.soustitre{
  color: #253037;
}



nav {
  top:0;
 z-index:  1;
}
span {
  color: white;
}

.btn--menu {
  background-color: #557076;
  color: white;
}

.btn--contact {
  background-color: #754373;
}

.taille {
  height: 300px;
  object-fit: cover;
}

.box {
  min-height: 150px;
 
}
